html {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

/*---------------- card styles-----------------*/
.flex {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 1em;
  width: 500px;
  border-radius: 10px;
  /** acomoda los elementos al mismo ancho del tamaño padre */
  overflow: hidden;
  box-shadow: rgba(42, 43, 44, 0.486) 0px 8px 24px;
  /* sintaxis de SASS para aceder a una clase hija */
}

.line-through {
  text-decoration: line-through;
}


/* style loading*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
